#memory-game {
	.row {
		.col-md-4 {
			.info-part {
				.logo {
					text-align: center;
				}
				.player-info {
					width: 80%;
					margin: 0 auto;
				}
			}
			.selector-part {
				width: 80%;
				margin: 0 auto;
			}
		}
		.col-md-8 {
			.timer {
				text-align: center;
			}
			.game-part {
				text-align: center;
				.game-body {
					.grid-container {
						width: 100%;
						.grid-cell {
							display: inline-block;
							width: 10%;
							font-size: 200%;
							float: left;
							border: 1px solid black;
							border-radius: 10px;
							padding: 2px;
						}
					}
				}
			}
		}
	}
	.button-group {
		text-align: center;
		button {
			margin: 5px;
		}
	}
}

#canvas {
	width: 40%;
	border: 1px solid black;
}